<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="manager">Home</a>
        <table bolder = 3>
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>CCCD</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {{#if data}}
            <tr>
                <td>{{data.email}}</td>
                <td>{{data.phoneNumber}}</td>
                <td><img src="{{data.avatar}}"  width="150" height="100"></td>
                <td>{{data.cccd}}</td>
                <td>{{data.address}}</td>
                <td>
                    <a href="/admin/edit_manager?id={{data._id}}">Edit</a>
                    <a href="/admin/delete_manager?id={{data._id}}">Delete</a>
                </td>
            </tr>
            {{/if}}
        </table>
</body>
</html>