<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="coordinator">Home</a>
        <table bolder = 3>
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>CCCD</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>{{c.email}}</td>
                <td>{{c.phoneNumber}}</td>
                <td><img src="{{c.avatar}}"  width="150" height="100"></td>
                <td>{{c.cccd}}</td>
                <td>{{c.address}}</td>
                <td>
                    <a href="/admin/edit_coordinator?id={{c._id}}">Edit</a>
                    <a href="/admin/delete_coordinator?id={{c._id}}">Delete</a>
                </td>
            </tr>
        </table>
</body>
</html>