<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>File</th>
            <th>Date</th>
            <th>Comment</th>
            <th>text</th>
            <th>Like</th>
            <th>Dislike</th>
            <th>Action</th>
        </tr>
        {{#each i}}
        <tr>
            <td>{{title}}</td>
            <td>{{file}}</td>
            <td>{{date}}</td>
            <td>{{comment}}</td>
            <td>{{text}}</td>
            <td>{{like}}</td>
            <td>{{dislike}}</td>
            <td>
                <a href="/admin/mostView">Most View</a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>