<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
    <title>Document</title>
</head>

    <body>
        <input type="hidden" name="txtId" value="{{user._id}}">

        <input type="hidden" id="ideaID" value="{{i._id}}">
        Poster: {{i.user.name}}<br>
        Title: {{i.title}}<br>
        Text: {{i.text}}<br>

        <i class="fa fa-eye" style="font-size:24px"></i> {{i.view}} views <br><br>

        <button type="button" class="btn btn-default" onclick="doLike();">
            <i class="fa fa-thumbs-up" style="font-size:24px"></i>
            <p id="likeIdea">{{i.like.length}}</p>
        </button>

        <button type="button" class="btn btn-default" onclick="doDislike();">
            <i class="fa fa-thumbs-down" style="font-size:24px"></i>
            <p id="dislikeIdea">{{i.dislike.length}}</p>
        </button>

        <div class="card my-4">
            <div class="card-header">
                    Leave a comment:
            </div>
            <div class="card-body">
                <ul id="message"></ul>
                <form action="" id="chatForm">
                <input type="text" id="chat">
                <button id="sendChat">Send</button>
                </form>
            </div>
        </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        console.log(socket)
        {{!-- const name =prompt("what's your name?") --}}
        const chatForm = document.querySelector('#chatForm');
        const chat = document.querySelector('#chat');
        chatForm.addEventListener('submit',(e)=>{
            e.preventDefault();
            const msg = chat.value;
            socket.emit('client-chat',{
            msg
            });
            chat.value = ''
        })
        const messages = document.querySelector('#message')
        socket.on('user-chat',(message)=>{
            const chatItem = document.createElement('li');
            chatItem.textContent = message.msg;
            {{!-- chatItem.textContent = `${message.name}:${message.msg}`; --}}
            messages.appendChild(chatItem)
        })

    </script>
    </body>
</html>