<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <style>
        input {
            width: 30px;
            border: none;
            background: none;
            font-size: 18px;
            margin: 0 5px;
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a href="/staff/staffIndex" class="logo">G<div style="margin-top: -60px;" class="footer">
                        <p>reenwich</p>
                    </div></a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/staff/staffIndex"><span class="fa fa-home"></span> Home</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved by University of Greenwich
                </p>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form action="" method="" class="form-search">
                        <input type="text" placeholder="  Search..." name="txtSearch">
                    </form>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Ideas</h2>
                            </div>
                            <div class="col-sm-4">
                                <a href="/staff/upIdea" type="button" class="btn btn-info add-new"><i
                                        class="fa fa-plus"></i> Upload Idea </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tbody>

                            <div class="dropdown">
                                <label for="exampleInputEmail1" class="form-label">View Popular Ideas</label>
                                <i class="fa fa-sort ml-2" data-toggle="dropdown"></i>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/staff/latestIdea">Latest Idea</a>
                                    <a class="dropdown-item" href="/staff/mostView">Most View Idea</a>
                                    <a class="dropdown-item" href="/staff/mostLike">Most Like Idea</a>
                                    <a class="dropdown-item" href="/staff/mostDislike">Most Dislike Idea</a>
                                </div>
                            </div>
                            <input type="hidden" id="userID" value="{{user._id}}">
                            <input type="hidden" id="userName" value="{{user.name}}">
                            {{#each data}}
                            <tr>
                                <td>
                                    <input type="hidden" class="ideaID" value="{{_id}}">
                                    Poster: <span class="">{{privacy}}</span><br>
                                    <span class="text-black-50">{{date}}</span> <br>
                                    Title: <a href="/staff/detailIdea?id={{_id}}">{{title}}</a><br>
                                    Content: {{text}}<br>
                                    Category: {{category}}<br>
                                    <i class="fa fa-eye" style="font-size:18px"></i> {{view}} views <br>
                                    {{#if files}}
                                    {{#each files}}
                                    <a href="/staff/viewfile?filename={{this.filename}}">{{this.filename}}</a><br>
                                    {{/each}}
                                    {{else}}
                                    {{/if}}
                                    <button type="button" id="myBtn" class="btn btn-default"
                                        onclick="doLike('{{_id}}');">
                                        <i class="fa fa-thumbs-up" style="font-size:24px"></i>
                                        <p class="likeIdea">{{like.length}}</p>
                                    </button>

                                    <button type="button" class="btn btn-default" onclick="doDislike('{{_id}}');">
                                        <i class="fa fa-thumbs-down" style="font-size:24px"></i>
                                        <p class="dislikeIdea">{{dislike.length}}</p>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#if check1}}
                    <li class="page-item">
                        <a class="page-link" href="/staff/staffIndex?page=1">&laquo;</a>
                    </li>

                    <li class="page-item"><a class="page-link"
                            href="/staff/staffIndex?page={{previousPage}}">{{previousPage}}</a></li>
                    {{/if}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/staff/staffIndex?page={{page}}">{{page}}</a>
                        {{!-- <span class="page-link">2</span> --}}
                    </li>
                    {{#if check2}}
                    <li class="page-item"><a class="page-link"
                            href="/staff/staffIndex?page={{nextPage}}">{{nextPage}}</a></li>


                    <li class="page-item">
                        <a class="page-link" href="/staff/staffIndex?page={{lastPage}}">&raquo;</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();
        function doLike(id) {
            const userID = document.querySelector('#userID');
            const user = userID.value;
            const idea = id;
            socket.emit('client-like', {
                idea, user
            })
            socket.on('server-like', (data) => {
                document.getElementById("likeIdea").innerHTML = data.likes;
                document.getElementById("dislikeIdea").innerHTML = data.dislikes;
            })
        }
        function doDislike(id) {
            const userID = document.querySelector('#userID');
            const user = userID.value;
            const idea = id;
            socket.emit('client-dislike', {
                idea, user
            })
            socket.on('server-dislike', (data) => {
                document.getElementById("likeIdea").innerHTML = data.likes;
                document.getElementById("dislikeIdea").innerHTML = data.dislikes;
            })
        }
    </script>
</body>

</html>