<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a href="index.html" class="logo">G<div style="margin-top: -60px;" class="footer">
                        <p>reenwich</p>
                    </div></a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home"></span> Home</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user"></span> About</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-upload"></span> Services</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved by University of Greenwich
                </p>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form action="" method="" class="form-search">
                        <input type="text" placeholder="  Search..." name="txtSearch">
                    </form>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Ideas</h2>
                            </div>
                            <div class="col-sm-4">
                                <a href="/staff/upIdea" type="button" class="btn btn-info add-new"><i
                                        class="fa fa-plus"></i> Upload Idea </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>


                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td><input type="hidden" id="userID" value="{{user._id}}">
                                    <input type="hidden" id="userName" value="{{user.name}}">
                                    <input type="hidden" id="ideaID" value="{{i._id}}">
                                    <input type="hidden" id="like" value="{{i.like}}">
                                    <input type="hidden" id="dislike" value="{{i.dislike}}">
                                    Poster: {{user}}<br>
                                    Title: {{title}}<br>
                                    Text: {{text}}<br>
                                    Category: {{category}}<br>

                                    <i class="fa fa-eye" style="font-size:24px"></i> {{view}} views <br><br>

                                    <button type="button" class="btn btn-default" onclick="doLike();">
                                        <i class="fa fa-thumbs-up" style="font-size:24px"></i>
                                        <p id="likeIdea">{{like.length}}</p>
                                    </button>

                                    <button type="button" class="btn btn-default" onclick="doDislike();">
                                        <i class="fa fa-thumbs-down" style="font-size:24px"></i>
                                        <p id="dislikeIdea">{{dislike.length}}</p>
                                    </button>

                                    <div class="card my-4">
                                        <div class="card-header">
                                            Leave a comment:
                                        </div>
                                        <div class="card-body">
                                            <a href="">Latest Comment</a>
                                            <ul id="message">
                                                {{#each comment}}
                                                <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                            <form action="" id="chatForm">
                                                <input type="hidden" id="ideaID" value="{{i._id}}">
                                                <input type="text" id="chat">
                                                <button id="sendChat">Send</button>
                                            </form>
                                        </div>
                                    </div>

                                    <script src="/socket.io/socket.io.js"></script>
                                    <script>
                                        const socket = io();
                                        const chatForm = document.querySelector('#chatForm');
                                        const chat = document.querySelector('#chat');
                                        const ideaID = document.querySelector('#ideaID');
                                        const userName = document.querySelector('#userName');
                                        chatForm.addEventListener('submit', (e) => {
                                            e.preventDefault();
                                            const msg = chat.value;
                                            const id = ideaID.value;
                                            const name = userName.value;
                                            socket.emit('user-comment', {
                                                id, name, msg
                                            });
                                            chat.value = ''
                                        })
                                        const messages = document.querySelector('#message')
                                        socket.on('server-response', (message) => {
                                            const chatItem = document.createElement('li');
                                            chatItem.textContent = `${message.name}: ${message.msg}`;
                                            messages.appendChild(chatItem)
                                        })

                                        function doLike() {
                                            const ideaID = document.querySelector('#ideaID');
                                            const userID = document.querySelector('#userID');
                                            const id = ideaID.value;
                                            const user = userID.value;
                                            socket.emit('client-like', {
                                                id, user
                                            })
                                            const like = document.querySelector('#liked');
                                            socket.on('server-like', (data) => {
                                                document.getElementById("likeIdea").innerHTML = data.likes;
                                                document.getElementById("dislikeIdea").innerHTML = data.dislikes;
                                            })
                                        }

                                        function doDislike() {
                                            const ideaID = document.querySelector('#ideaID');
                                            const userID = document.querySelector('#userID');
                                            const id = ideaID.value;
                                            const user = userID.value;
                                            socket.emit('client-dislike', {
                                                id, user
                                            })
                                            socket.on('server-dislike', (data) => {
                                                document.getElementById("likeIdea").innerHTML = data.likes;
                                                document.getElementById("dislikeIdea").innerHTML = data.dislikes;
                                            })
                                        }
                                    </script>
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="/staff/staffIndex?page=1">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="/staff/staffIndex?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="/staff/staffIndex?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="/staff/staffIndex?page=3">3</a></li>
                    <li class="page-item"><a class="page-link" href="/staff/staffIndex?page=3">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>